<%- model_class = Month -%>
<div class="page-header">
  <h4>Days to remember in... <em><%= @month.name %></em></h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Click for details</th>
      <th><%= Friend.human_attribute_name(:name) %></th>
      <th>Date of birth</th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= link_to friend.id, friend_path(friend) %></td>
        <td><%= friend.name %></td>
        <td><%= friend.dob %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              months_path, :class => 'btn btn-primary' %>
</div>
