  <!DOCTYPE html> 
  <html lang="en"> 
  <head> 
  <meta charset="utf-8"> 
  <title> digitalMum</title> 
  <!--[if lt IE 9]>
<script src="dist/html5shiv.js"></script>
<![endif]-->
  <meta name="description" content="digitalMum">
  <link href="/app/stylesheets/bootstrap.css" rel="stylesheet"> 
  </head>
  <body>
  <!-- We will create navbar here -->
	  <div class="navbar navbar-fixed-top">
  		<div class="navbar-inner">
   			<div class="container">
			<!--navigation does here-->
			  <ul class="nav">
		        <li class="active"><a class="brand" href="#">Noodle</a></li>
		        <li><a href="/friends">Folks</a></li>
		        <li><a href="#">Home</a></li>
		      </ul>
		    </div>
		</div>
	  </div>		
  </body>
  </html>


<!--	<div class="navbar-inner">
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
		</a>
		<a class="brand" href="#" margin-left='200'>  Noodle</a>
		<div class="nav-collapse">
			<ul class="nav">
				<li><%= link_to "Folks", "/friends" %></li>
				<li><%= link_to "Admins", "/users" %></li>
			</ul>
			<p class="navbar-text">
				<% if user_signed_in? %>
  				  Signed in as <strong><%= current_user.email %></strong>.
  					<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  					<%= link_to "Logout", destroy_user_session_path, method: :delete, 
  					:class => 'navbar-link' %>
				<% else %>
  					<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  					<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
				<% end %>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="span12">
		<% flash.each do |key, value| %>
		  <div class='flash' id='<%= key %>'>
		    <%= value %>
		  </div>
		<% end %>
		<p><%= yield %></p>
		</div>
	</div>
</div>
<footer>
    <div class="container">Nicole Lewis for Q3 UW Ruby on Rails certificate 2013</div>
</footer>
</body>
</html> -->
