<%- model_class = Friend -%>
<div class="page-header">
  <h4>We are everywhere...</h4>
</div>

<table class="table table-striped">
  <br/>
  <%= gmaps4rails(@pins) %>
  <%= yield :scripts %>

  <thead>
    <tr>
      <th>Click for details</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Date of birth</th>
      <th>Address</th>
      <th>Picture</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= link_to friend.id, friend_path(friend) %></td>
        <td><%= friend.name %></td>
        <td><%= friend.email %></td>
        <td><%= friend.dob %></td>
        <td><%= friend.address %></td>
        <td><%= image_tag(friend.picture_url, :width => 40) %></td>
        <td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_friend_path(friend), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      friend_path(friend),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'You clicked on delete. Are you sure you want to delete this person?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_friend_path,
            :class => 'btn btn-primary' %>
