<!DOCTYPE html>
<html>
<head>
  <title> digital Mum</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
		</a>
		<a class="brand" href="#">digitalMum</a>
		<div class="nav-collapse">
			<ul class="nav">
				<li><%= link_to "Mum", "/base" %></a>
				<li><%= link_to "Folks", "/friends" %></li>
				<li><%= link_to "Admins", "/users" %></li>
			</ul>
			<p class="navbar-text">
				<% if user_signed_in? %>
  				  Signed in as <strong><%= current_user.email %></strong>.
  					<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  					<%= link_to "Logout", destroy_user_session_path, method: :delete, 
  					:class => 'navbar-link' %>
				<% else %>
  					<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  					<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
				<% end %>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="span12">
		<% flash.each do |key, value| %>
		  <div class='flash' id='<%= key %>'>
		    <%= value %>
		  </div>
		<% end %>
		<p><%= yield %></p>
		</div>
	</div>
</div>
</body>
</html>
